*{
    margin: 3px;
    box-sizing: border-box;
}

main{
    background-color: beige;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid rgb(238, 229, 236);
    align-items: center;
}


section:hover{
    background: rgb(238, 229, 236);
    transition: all 3s;
    border-radius: 50%;
    rotate: 180deg;
}