.Principal{
    height: 600px;
    background: rgb(223, 204, 181);
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Principal article{
    height: 50px;
    width: 50px;
    background-color: darkkhaki;
    margin: 5px;
    border: 1px solid rgb(51, 32, 7);
}