*{
    margin: 3px;
    box-sizing: border-box;
}

body{
    height: 95vh;
    background: rgb(235, 201, 207);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

header{
    background-color: antiquewhite;
    padding: 2em 0 2em 0;  
}

.main{
    display: flex;
    flex: 1;
}

.left{
    background: antiquewhite;
    padding: 3em 0 3em 0;
    flex: 1 1 90px;
}

main{
    background: antiquewhite;
    padding: 5em 0 5em;
    flex: 5 5 150px;
}

.right{
    background: antiquewhite;
    padding: 3em 0 3em;
    flex: 1 1 90px
}


footer{
    background: antiquewhite;
    padding: 1em 0 1em;
}
